* {
  font-family: monospace;
}

.album {
  display: inline-block;
  padding-right: 1em;
}

li {
  border: 1px solid black;
}

.highlighted {
  color: blue;
}

.content {
  display: flex;
}

.left,
.right {
  flex: 0 1 50%;
}
