* {
  font-family: monospace;
}

.grid-container {
  display: grid;

  /* fractional units in CSS Grid, e.g. 1fr.  */
  /* They essentially mean “portion of the remaining space” */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;

  /* grid-column-start: 2; */
  grid-column: 2 / span 2;
}

.grid-item--short {
  /* grid-column-end: span 1; */

  /* grid-column-start: 1;
  grid-column-end: span 2; */
  /* grid-column: 1 / span 2; */

  grid-column: 1 / -2;
}
