* {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: red;
  width: 80%;
  margin: 0 auto;
  height: 1700px;
  position: relative;
}

.child {
  background-color: green;
  width: 100px;
  height: 40px;

  position: absolute;
  top: 10px;
  left: 10px;
}

.child2 {
  background-color: orange;
  width: 100px;
  height: 40px;

  position: absolute;
  top: 10px;
  left: 10px;
}

.fixed-object {
  background-color: black;
  width: 200px;
  height: 70px;

  position: fixed;
  top: 10px;
  right: 10px;
}
